{% extends 'base.html' %}

{% block body %}
    
<h1>Welcome to VTM</h1>
<img src = "{{ url_for('static', filename='images/above_ground_vertical_tanks.jpg') }}" />

    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit. Bibendum ut tristique et egestas. Porttitor massa id neque aliquam vestibulum morbi blandit cursus. Nunc sed blandit libero volutpat sed cras ornare arcu. Varius duis at consectetur lorem donec. Tortor posuere ac ut consequat semper viverra nam. Egestas maecenas pharetra convallis posuere morbi leo urna molestie. Orci a scelerisque purus semper eget duis at tellus. In nulla posuere sollicitudin aliquam ultrices sagittis orci. Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia.</p>
    

{% endblock %}